
{% include('layout/header.html.twig') %}
<section class="character-page">
    <div class="col-8">
        <h2>{{ character.firstName }} {{ character.lastName }}</h2>
        <div class="bio">
            <h3>Biographie</h3>
            <p>{{character.biography}}</p>
        </div>
    </div>
    <div class="col-4">
        <div class="avatar" style="background: #e3e3e3;">
            <img src="/assets/img/{{ character.image }}" alt="{{ character.firstName }}">
        </div>
    <div class="infos">
    <h3>Maisons</h3>
            <div class="houses houses-list">
                <ul>
                  {% for house in houses %}
                        <li class="house-logo" style="background: #e3e3e3;">
                            <a href="{{path('app_house_show', {'id': house.id})}}">
                                <img src="/assets/img/houses/{{ house.image }}" alt="{{ house.name }}">
                            </a>
                        </li>
                {% endfor %}
                </ul>
            </div>
 
            <ul class="meta">
                <li><span>Rang : {{character.getIdTitle().getName() }} </span> </li>
                {% if character.getMother() is not null %}
                    <li><span>Mère : {{character.getMother().getFirstName() }} {{character.getMother().getLastName() }}</span>
                    </li>
                {% endif %}
                 {% if character.getFather() is not null %}
                    <li><span>Père : {{character.getFather().getFirstName() }} {{character.getFather().getLastName() }}</span>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</section>
{% include('layout/footer.html.twig') %} 