{% extends 'base.html.twig' %}

{% block title %}House{% endblock %}

{% block body %}
    <h1>House</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td></td>
            </tr>
            <tr>
            {% for character in characters %}
        <li class="house-logo" style="background: #e3e3e3;">
                {{dump(character)}}
            <a href="{{ path('app_house_show', { 'id': character.id }) }}">
                <img src="/assets/img/{{character.image}}" alt="{{ character.firstName }}"/>
            </a>
        </li>
   {% endfor %}
                <th>CreatedAt</th>
                <td>{{ house.createdAt ? house.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ house.updatedAt ? house.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ house.name }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ house.image }}</td>
            </tr>
            <tr>
                <th>Colour</th>
                <td>{{ house.colour }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_house_index') }}">back to list</a>

    <a href="{{ path('app_house_edit', {'id': house.id}) }}">edit</a>

    {{ include('house/_delete_form.html.twig') }}
{% endblock %}
