{% extends 'base.html.twig' %}

{% block title %}Title index{% endblock %}

{% block body %}
    <h1>Title index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for title in titles %}
            <tr>
                <td>{{ title.id }}</td>
                <td>{{ title.createdAt ? title.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ title.updatedAt ? title.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ title.name }}</td>
                <td>
                    <a href="{{ path('app_title_show', {'id': title.id}) }}">show</a>
                    <a href="{{ path('app_title_edit', {'id': title.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_title_new') }}">Create new</a>
{% endblock %}
